@import url('https://googleapis.com');
@import "tailwindcss";

@theme {
  /* Colors  */
  --color-primary-background: #eeead1;
  --color-primary-foreground: #211003;
  --color-primary-red: #BF1A2F;
  --color-primary-text: #EDEAD0;  




  --color-success-button: #10b968;




  /* Breakpoints */
  --breakpoint-tablet: 900px;
  --breakpoint-desktop: 1440px;



  /* Fonts */
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  :root {
    --font-body: var(--font-jakarta);
    --font-heading: var(--font-bricolage);
  }
  
  body {
    font-family: var(--font-body);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}

@layer utilities {
  .wave-background {
    position: relative;
    isolation: isolate;
  }
  .wave-background::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
    background-image: repeating-radial-gradient( circle at 0 0, transparent 0, #eeead1 11px ), repeating-linear-gradient( #d6d2bc55, #d6d2bc );
  }
}
