@import "tailwindcss";

@layer utilities {
    .wave-background {
        position: relative;
        isolation: isolate;
    }

    .wave-background::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: #eeead1;
        opacity: 0.3;
        background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #eeead1 12px ), repeating-linear-gradient( #29221f55, #29221f );
        mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 75%);
        -webkit-mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 75%);
        mask-size: 100% 100%;
        -webkit-mask-size: 100% 100%;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
    }
}

@theme {
    --color-primary-background: #eeead1;
    --color-primary-foreground: #211003;

    --breakpoint-tablet: 900px;
    --breakpoint-desktop: 1440px;
}