@import url('https://googleapis.com');
@import "tailwindcss";

@theme {
  /* Colors  */
  --color-primary-background: #eeead1;
  --color-primary-foreground: #211003;
  --color-primary-card-background: #FDFCF3;
  --color-primary-text: #EDEAD0;  

  --color-primary-red: #BF1A2F;
  --color-primary-green: #1f5c3a;
  --color-primary-blue: #1c3f66;

  --color-success-button: #10b968;




  /* Breakpoints */
  --breakpoint-tablet: 900px;
  --breakpoint-desktop: 1440px;



  /* Fonts */
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  :root {
    --font-body: var(--font-jakarta);
    --font-heading: var(--font-bricolage);
  }
  
  body {
    font-family: var(--font-body);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}

@layer utilities {
  .wave-background {
    position: relative;
    isolation: isolate;
  }
  .wave-background::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: repeating-radial-gradient(
      circle at 0% 0%,
      rgba(33, 17, 3, 0.05) 0px,
      rgba(33, 17, 3, 0.05) 1px,
      transparent 1px,
      transparent 20px
    );
  }
}


@utility mobile-scrollbar {

  @media (max-width: calc(var(--breakpoint-tablet) - 1px)) {
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--color-primary-foreground); 
      border-radius: 10px;
    }
  }
}